:root {
  --heading-font: "Playfair Display", serif;
  --main-font: "Nunito", sans-serif;
  --nav-font: "Comfortaa", sans-serif;
  --main-color: #25282b;
  --body-color: #828282;
  --accent-color: #fdc435;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9faff;
  font-size: 24px;
}

h1 {
  color: var(--main-color);
  font-family: var(--heading-font);
  font-size: 64px;
}

h2 {
  color: var(--accent-color);
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}

p {
  color: var(--body-color);
  font-family: var(--main-font);
  line-height: 150%;
}

a {
  color: var(--main-color);
  font-family: var(--main-font);
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 8px;
}

a:visited {
  color: var(--main-color);
  text-decoration: none;
}

ul {
  display: flex;
  margin-top: 12px;
  gap: 8%;
}

li {
  list-style: none;
}

.navbar {
  font-family: var(--nav-font);
  padding: 2% 10% 0 10%;
  font-size: 18px;
  width: 100vw;
  text-underline-offset: 0.7rem;
}

.current-page {
  text-decoration: underline;
}

.hero {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 10% 0 10%;
  margin: 0;
}

.text-ctr {
  height: 90vh;
  padding: 30px 0 120px 0;
}

.regular-btn {
  border: solid 2px var(--main-color);
}

.accent-btn {
  border: solid 2px var(--accent-color);
  background-color: var(--accent-color);
}

.hero-bg {
  position: absolute;
  height: 100vh;
  /* width: 54.5%; */
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}
.hero-img {
  position: absolute;
  right: 0;
  height: 100vh;
  /* width: 33%; */
  top: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  ul {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  h2 {
    color: #f9faff;
  }

  /* .img-ctr {
    display: none;
  } */

  .hero {
    background-color: var(--accent-color);
  }
  h2 {
    color: var(--body-color);
  }

  .accent-btn {
    color: #f9faff;
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
  }

  .accent-btn:visited {
    color: #f9faff;
  }
}

@media (max-width: 1284px) {
}
